<div class=" container">
  <h1><b>Create New Post</b></h1>
  <hr style="color: rgb(197, 197, 197);">
  <br>
  <div class="col-md-6">

    <div class="col-md-12">
      <form [formGroup]="addPostForm" (submit)="createPost()" autocomplete="off" novalidate>
        <div class="form-group">

          <label style="color: white;" for="title">Title:</label>
          <em *ngIf="addPostForm.get('title')?.invalid  && formSubmited" class="error-message right">
            Title is required.
          </em>
          <input formControlName="title" required name="title"
            [ngClass]="{'red-border':addPostForm.get('title')?.invalid  && formSubmited }" required id="title"
            type="text" class="form-control" placeholder="your photo title here..." />

        </div>
        <br>
        <div class="form-group">
          <label style="color: white;" for="photo">Image url:</label>
          <em *ngIf="addPostForm.get('url')?.invalid  && formSubmited" class="error-message">
            Photo is required.
          </em>
          <input formControlName="url" [ngClass]="{'red-border':addPostForm.get('url')?.invalid  && formSubmited }"
            name="photo" required id="photo" type="text" class="form-control" placeholder="photo url..." />


        </div>
        <br>
        <div class="form-group">
          <label style="color: white;" for="thumbnailUrl">ThumbnailUrl:</label>
          <em *ngIf="addPostForm.get('thumbnailUrl')?.invalid  && formSubmited" class="error-message">
            Thumbnail is required.
          </em>
          <input formControlName="thumbnailUrl" name="thumbnailUrl"
            [ngClass]="{'red-border':addPostForm.get('thumbnailUrl')?.invalid  && formSubmited }" required
            id="thumbnailUrl" type="text" class="form-control" placeholder="thumbnail url..." />


        </div>
        <br>
        <div class="form-group">
          <label style="color: white;" for="albumId">Album id:</label>
          <em *ngIf="addPostForm.get('albumId')?.invalid  && formSubmited" class="error-message">
            Album number is required.
          </em>
          <input formControlName="albumId"
            [ngClass]="{'red-border':addPostForm.get('albumId')?.invalid  && formSubmited }" name="albumId" required
            id="albumId" type="number" class="form-control" placeholder="id of album..." />


        </div>
        <div>
          <br>
          <div class="buttons">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" style="float:right" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>